<ion-header>
  <ion-toolbar>
    <ion-title>
      Speak
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <ion-list lines="none">
          <ion-item><ion-icon name="information-circle-outline"></ion-icon>Change region and key in Settings when necessary.</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none" [class.hide]="!token">
      <ion-list-header>
        <ion-label>Voice Select</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select [(ngModel)]="language">
          <ion-select-option value="de-DE">German (Germany)</ion-select-option>
          <ion-select-option value="en-US">English (United States)</ion-select-option>
          <ion-select-option value="it-IT">Italian (Italy)</ion-select-option>
          <ion-select-option value="zh-CN">Chinese (Simplified)</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender" interface="popover">
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Voice</ion-label>
        <ion-select [(ngModel)]="voice" interface="popover">
          <ion-select-option>en-US-Jessa24KRUS</ion-select-option>
          <ion-select-option>en-US-Guy24KRUS</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list-header>
        <ion-label>Text to Speak</ion-label>
      </ion-list-header>
      <ion-textarea [(ngModel)]="text" placeholder="Input text to speak here"></ion-textarea>
      <ion-button expand="block" (click)="speakText();">Speak</ion-button>
    </ion-list>

    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>Available voices list from public API</ion-card-title>
        </ion-card-header>
        <ion-list lines="none">
          <ion-item [(ngModel)]="voices">{{voices}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
