<ion-header>
  <ion-toolbar>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item href="https://azure.microsoft.com/try/cognitive-services/" target="_blank">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Get Speech Services subscription</ion-label>
    </ion-item>
    <ion-item href="https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech">
      <ion-icon slot="start" color="medium" name="globe"></ion-icon>
      <ion-label>Text-To-Speech API reference</ion-label>
    </ion-item>
    <ion-item href="https://github.com/boltomli/speech-api" target="_blank">
      <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
      <ion-label>Source code of this app</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
